{% extends "productapp\product_base.html" %}

    {% block group_content %}

       {# Here i am going to filter all the products according to their Institution #}
      {% for ob in object_list %}


        <div class="" style="border:2px solid black;">
                <a href="{% url 'productapp:single' pk=ob.pk %}"><h2>Title : {{ob.title}}</h2></a>
                <h3>Category : {{ob.categoryid}}</h3>
                <h3>Description : {{ob.Description}}</h3>
                <h3>Price : {{ob.prize}}</h3>
                <img src="{{ ob.productImage1.url }}" alt="noImage" class="img-responsive img-rounded"  height="200" width="200">
                
        </div>
        <br>
      {% endfor %}
    {% endblock %}
