<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Base</title>
    <!-- Latest compiled and minified CSS -->

      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
     <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
     <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
     </script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>

     {% block Edit_head_for_registration %}

     {% endblock %}

  </head>
  <body>


    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">


          {# Django Home Link / Admin Link / Register Link#}
          <ul class="nav navbar-nav">
          <li><a class="navbar-brand" href="{% url 'index' %}">CD</a></li>
          </ul>



          {# <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>#}

            {# <li><a class="navbar-link" href="{% url 'special' %}">Special</a></li>#}

          {# Some logic on what to display for last item#}
          {% if user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'productapp:create' %}" class="btn btn-simple">Post Add</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>

          </ul>

          {% else %}
          <ul class="nav navbar-nav navbar-right">
            {# <li><a href="{% url 'productapp:create' %}" class="btn btn-simple">Post Add</a></li>#}
            <li><a class="navbar-link" href="{% url 'basic_app:register' %}">Register</a></li>
            <li><a class="navbar-link" href="{% url 'basic_app:user_login' %}">Login</a></li>
          </ul>
          {% endif %}

          <ul  class="nav navbar-nav navbar-right" >
              <li><a href="{% url 'productapp:all_products' %}" class="btn btn-simple">ProductList</a></li>
          </ul>

      </div>
    </nav>
    <div class="container">
    {% block body_block %}
    {% endblock %}
    </div>


    <script type="text/javascript">
         $(function() {
         $("#new-user").autocomplete({
         source: "/productapp/autocomplete/",
         minLength: 2,
         });
         });
 </script>


  </body>
</html>
